<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   emoji_food.plist
   g5Mindr

   Created by Charles Cliff on 8/9/16.
   Copyright (c) 2016 Charles Cliff. All rights reserved.
-->
<plist version="1.0">
    <dict>
        <key>emoticons</key>
        <array>
<string>🍏</string>
<string>🍎</string>
<string>🍐</string>
<string>🍊</string>
<string>🍋</string>
<string>🍌</string>
<string>🍉</string>
<string>🍇</string>
<string>🍓</string>
<string>🍈</string>
<string>🍒</string>
<string>🍑</string>
<string>🍍</string>
<string>🍅</string>
<string>🍆</string>
<string>🌶</string>
<string>🌽</string>
<string>🍠</string>
<string>🍯</string>
<string>🍞</string>
<string>🧀</string>
<string>🍗</string>
<string>🍖</string>
<string>🍤</string>
<string>🍳</string>
<string>🍔</string>
<string>🍟</string>
<string>🌭</string>
<string>🍕</string>
<string>🍝</string>
<string>🌮</string>
<string>🌯</string>
<string>🍜</string>
<string>🍲</string>
<string>🍥</string>
<string>🍣</string>
<string>🍱</string>
<string>🍛</string>
<string>🍙</string>
<string>🍚</string>
<string>🍘</string>
<string>🍢</string>
<string>🍡</string>
<string>🍧</string>
<string>🍨</string>
<string>🍦</string>
<string>🍰</string>
<string>🎂</string>
<string>🍮</string>
<string>🍬</string>
<string>🍭</string>
<string>🍫</string>
<string>🍿</string>
<string>🍩</string>
<string>🍪</string>
<string>🍺</string>
<string>🍻</string>
<string>🍷</string>
<string>🍸</string>
<string>🍹</string>
<string>🍾</string>
<string>🍶</string>
<string>🍵</string>
<string>☕️</string>
<string>🍼</string>
<string>🍴</string>
<string>🍽</string>
        </array>
    </dict>
</plist>