<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"><plist version="1.0"><dict><key>emoticons</key><array>
<string>1f383</string>
<string>1f385</string>
<string>1f3a9</string>
<string>1f3c3</string>
<string>1f440</string>
<string>1f441</string>
<string>1f444</string>
<string>1f445</string>
<string>1f466</string>
<string>1f467</string>
<string>1f468</string>
<string>1f469</string>
<string>1f46a</string>
<string>1f46b</string>
<string>1f46c</string>
<string>1f46d</string>
<string>1f46e</string>
<string>1f46f</string>
<string>1f470</string>
<string>1f471</string>
<string>1f472</string>
<string>1f473</string>
<string>1f474</string>
<string>1f475</string>
<string>1f476</string>
<string>1f477</string>
<string>1f478</string>
<string>1f479</string>
<string>1f47a</string>
<string>1f47b</string>
<string>1f47c</string>
<string>1f47d</string>
<string>1f47e</string>
<string>1f47f</string>
<string>1f481</string>
<string>1f482</string>
<string>1f483</string>
<string>1f487</string>
<string>1f48b</string>
<string>1f48f</string>
<string>1f4a9</string>
<string>1f574</string>
<string>1f575</string>
<string>1f57a</string>
<string>1f600</string>
<string>1f601</string>
<string>1f602</string>
<string>1f603</string>
<string>1f604</string>
<string>1f605</string>
<string>1f606</string>
<string>1f607</string>
<string>1f608</string>
<string>1f609</string>
<string>1f60a</string>
<string>1f60b</string>
<string>1f60c</string>
<string>1f60d</string>
<string>1f60e</string>
<string>1f60f</string>
<string>1f610</string>
<string>1f611</string>
<string>1f612</string>
<string>1f613</string>
<string>1f614</string>
<string>1f615</string>
<string>1f616</string>
<string>1f617</string>
<string>1f618</string>
<string>1f619</string>
<string>1f61a</string>
<string>1f61b</string>
<string>1f61c</string>
<string>1f61d</string>
<string>1f61e</string>
<string>1f61f</string>
<string>1f620</string>
<string>1f621</string>
<string>1f622</string>
<string>1f623</string>
<string>1f624</string>
<string>1f625</string>
<string>1f626</string>
<string>1f627</string>
<string>1f628</string>
<string>1f629</string>
<string>1f62a</string>
<string>1f62b</string>
<string>1f62c</string>
<string>1f62d</string>
<string>1f62e</string>
<string>1f62f</string>
<string>1f630</string>
<string>1f631</string>
<string>1f632</string>
<string>1f633</string>
<string>1f634</string>
<string>1f635</string>
<string>1f636</string>
<string>1f637</string>
<string>1f641</string>
<string>1f642</string>
<string>1f643</string>
<string>1f644</string>
<string>1f645</string>
<string>1f646</string>
<string>1f647</string>
<string>1f64b</string>
<string>1f64d</string>
<string>1f64e</string>
<string>1f6b6</string>
<string>1f6c0</string>
<string>1f910</string>
<string>1f911</string>
<string>1f912</string>
<string>1f913</string>
<string>1f914</string>
<string>1f915</string>
<string>1f916</string>
<string>1f917</string>
<string>1f920</string>
<string>1f921</string>
<string>1f922</string>
<string>1f923</string>
<string>1f924</string>
<string>1f925</string>
<string>1f926</string>
<string>1f927</string>
<string>1f930</string>
<string>1f933</string>
<string>1f934</string>
<string>1f935</string>
<string>1f936</string>
<string>1f937</string>
<string>1f938</string>
<string>2639</string>
<string>263a</string>
</array></dict></plist>
