<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"><plist version="1.0"><dict><key>emoticons</key><array>
<string>1f442</string>
<string>1f443</string>
<string>1f446</string>
<string>1f447</string>
<string>1f448</string>
<string>1f449</string>
<string>1f44a</string>
<string>1f44b</string>
<string>1f44c</string>
<string>1f44d</string>
<string>1f44e</string>
<string>1f44f</string>
<string>1f450</string>
<string>1f4aa</string>
<string>1f590</string>
<string>1f596</string>
<string>1f64c</string>
<string>1f64f</string>
<string>1f918</string>
<string>1f919</string>
<string>1f91a</string>
<string>1f91b</string>
<string>1f91c</string>
<string>1f91d</string>
<string>1f91e</string>
<string>261d</string>
<string>270a</string>
<string>270b</string>
<string>270c</string>
<string>270d</string>
</array></dict></plist>
