<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"><plist version="1.0"><dict><key>emoticons</key><array>
<string>1f39f</string>
<string>1f3a3</string>
<string>1f3a4</string>
<string>1f3a8</string>
<string>1f3aa</string>
<string>1f3ab</string>
<string>1f3ac</string>
<string>1f3ad</string>
<string>1f3af</string>
<string>1f3b0</string>
<string>1f3b1</string>
<string>1f3b2</string>
<string>1f3b3</string>
<string>1f3b5</string>
<string>1f3b6</string>
<string>1f3b7</string>
<string>1f3b8</string>
<string>1f3b9</string>
<string>1f3ba</string>
<string>1f3bb</string>
<string>1f3bc</string>
<string>1f3bd</string>
<string>1f3be</string>
<string>1f3bf</string>
<string>1f3c0</string>
<string>1f3c2</string>
<string>1f3c4</string>
<string>1f3c5</string>
<string>1f3c6</string>
<string>1f3c7</string>
<string>1f3c8</string>
<string>1f3c9</string>
<string>1f3ca</string>
<string>1f3cb</string>
<string>1f3cc</string>
<string>1f3cf</string>
<string>1f3d0</string>
<string>1f3d1</string>
<string>1f3d2</string>
<string>1f3d3</string>
<string>1f3f8</string>
<string>1f3f9</string>
<string>1f6a3</string>
<string>1f6b4</string>
<string>1f6b5</string>
<string>1f939</string>
<string>1f93a</string>
<string>1f93b</string>
<string>1f93c</string>
<string>1f93d</string>
<string>1f93e</string>
<string>1f93f</string>
<string>1f945</string>
<string>1f946</string>
<string>1f947</string>
<string>1f948</string>
<string>1f949</string>
<string>1f960</string>
<string>1f961</string>
<string>26bd</string>
<string>26be</string>
<string>26f3</string>
<string>26f7</string>
<string>26f8</string>
<string>26f9</string>
</array></dict></plist>
