<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"><plist version="1.0"><dict><key>emoticons</key><array>
<string>1f301</string>
<string>1f303</string>
<string>1f304</string>
<string>1f305</string>
<string>1f306</string>
<string>1f307</string>
<string>1f308</string>
<string>1f309</string>
<string>1f30b</string>
<string>1f30c</string>
<string>1f30d</string>
<string>1f30e</string>
<string>1f30f</string>
<string>1f386</string>
<string>1f387</string>
<string>1f391</string>
<string>1f3a0</string>
<string>1f3a1</string>
<string>1f3a2</string>
<string>1f3c1</string>
<string>1f3cd</string>
<string>1f3ce</string>
<string>1f3d4</string>
<string>1f3d5</string>
<string>1f3d6</string>
<string>1f3d7</string>
<string>1f3d8</string>
<string>1f3d9</string>
<string>1f3da</string>
<string>1f3db</string>
<string>1f3dc</string>
<string>1f3dd</string>
<string>1f3de</string>
<string>1f3df</string>
<string>1f3e0</string>
<string>1f3e1</string>
<string>1f3e2</string>
<string>1f3e3</string>
<string>1f3e4</string>
<string>1f3e5</string>
<string>1f3e6</string>
<string>1f3e7</string>
<string>1f3e8</string>
<string>1f3e9</string>
<string>1f3ea</string>
<string>1f3eb</string>
<string>1f3ec</string>
<string>1f3ed</string>
<string>1f3ee</string>
<string>1f3ef</string>
<string>1f3f0</string>
<string>1f492</string>
<string>1f54b</string>
<string>1f54c</string>
<string>1f54d</string>
<string>1f5fb</string>
<string>1f5fc</string>
<string>1f5fd</string>
<string>1f5fe</string>
<string>1f5ff</string>
<string>1f680</string>
<string>1f681</string>
<string>1f682</string>
<string>1f683</string>
<string>1f684</string>
<string>1f685</string>
<string>1f686</string>
<string>1f687</string>
<string>1f688</string>
<string>1f689</string>
<string>1f68a</string>
<string>1f68b</string>
<string>1f68c</string>
<string>1f68d</string>
<string>1f68e</string>
<string>1f68f</string>
<string>1f690</string>
<string>1f691</string>
<string>1f692</string>
<string>1f693</string>
<string>1f694</string>
<string>1f695</string>
<string>1f696</string>
<string>1f697</string>
<string>1f698</string>
<string>1f699</string>
<string>1f69a</string>
<string>1f69b</string>
<string>1f69c</string>
<string>1f69d</string>
<string>1f69e</string>
<string>1f69f</string>
<string>1f6a0</string>
<string>1f6a1</string>
<string>1f6a2</string>
<string>1f6a4</string>
<string>1f6a5</string>
<string>1f6a6</string>
<string>1f6a7</string>
<string>1f6a8</string>
<string>1f6b2</string>
<string>1f6e3</string>
<string>1f6e4</string>
<string>1f6e5</string>
<string>1f6e9</string>
<string>1f6eb</string>
<string>1f6ec</string>
<string>1f6f0</string>
<string>1f6f3</string>
<string>1f6f4</string>
<string>1f6f5</string>
<string>1f6f6</string>
<string>2693</string>
<string>26e9</string>
<string>26ea</string>
<string>26f0</string>
<string>26f1</string>
<string>26f2</string>
<string>26f4</string>
<string>26f5</string>
<string>26fa</string>
<string>26fd</string>
<string>2708</string>
</array></dict></plist>
