<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>month_other_menu</key>
	<dict>
		<key>type</key>
		<string>replace</string>
		<key>menu_id</key>
		<string>other_menu</string>
		<key>display_phrase</key>
		<string>other</string>
		<key>menu_options</key>
		<array>
			<dict>
				<key>menu_id</key>
				<string>week_or_month_menu</string>
				<key>display_phrase</key>
				<string>other</string>
			</dict>
			<dict>
				<key>menu_id</key>
				<string>week_or_month_menu</string>
				<key>display_phrase</key>
				<string>other two</string>
			</dict>
			<dict>
				<key>menu_id</key>
				<string>week_or_month_menu</string>
				<key>display_phrase</key>
				<string>other three</string>
			</dict>
			<dict>
				<key>menu_id</key>
				<string>week_or_month_menu</string>
				<key>display_phrase</key>
				<string>other four</string>
			</dict>
		</array>
	</dict>
	<key>week_or_month_menu</key>
	<dict>
		<key>type</key>
		<string>replace</string>
		<key>menu_id</key>
		<string>week_or_month_menu</string>
		<key>display_phrase</key>
		<string>every</string>
		<key>menu_options</key>
		<array>
			<dict>
				<key>menu_id</key>
				<string>complete</string>
				<key>display_phrase</key>
				<string>month</string>
			</dict>
			<dict>
				<key>menu_id</key>
				<string>complete</string>
				<key>display_phrase</key>
				<string>week</string>
			</dict>
		</array>
	</dict>
	<key>every_month_menu</key>
	<dict>
		<key>type</key>
		<string>concatenate</string>
		<key>menu_id</key>
		<string>every_day_menu</string>
		<key>display_phrase</key>
		<string>every</string>
		<key>menu_options</key>
		<array>
			<dict>
				<key>menu_id</key>
				<string>month_other_menu</string>
				<key>display_phrase</key>
				<string>other</string>
			</dict>
			<dict>
				<key>menu_id</key>
				<string>week_or_month_menu</string>
				<key>display_phrase</key>
				<string>week</string>
			</dict>
		</array>
	</dict>
	<key>month_menu</key>
	<dict>
		<key>type</key>
		<string>replace</string>
		<key>menu_id</key>
		<string>month_menu</string>
		<key>display_phrase</key>
		<string>February</string>
		<key>menu_options</key>
		<array>
			<dict>
				<key>menu_id</key>
				<string>complete</string>
				<key>display_phrase</key>
				<string>January</string>
			</dict>
			<dict>
				<key>menu_id</key>
				<string>complete</string>
				<key>display_phrase</key>
				<string>February</string>
			</dict>
			<dict>
				<key>menu_id</key>
				<string>complete</string>
				<key>display_phrase</key>
				<string>March</string>
			</dict>
			<dict>
				<key>menu_id</key>
				<string>complete</string>
				<key>display_phrase</key>
				<string>April</string>
			</dict>
			<dict>
				<key>menu_id</key>
				<string>complete</string>
				<key>display_phrase</key>
				<string>May</string>
			</dict>
			<dict>
				<key>menu_id</key>
				<string>complete</string>
				<key>display_phrase</key>
				<string>June</string>
			</dict>
			<dict>
				<key>menu_id</key>
				<string>complete</string>
				<key>display_phrase</key>
				<string>July</string>
			</dict>
			<dict>
				<key>menu_id</key>
				<string>complete</string>
				<key>display_phrase</key>
				<string>August</string>
			</dict>
			<dict>
				<key>menu_id</key>
				<string>complete</string>
				<key>display_phrase</key>
				<string>September</string>
			</dict>
			<dict>
				<key>menu_id</key>
				<string>complete</string>
				<key>display_phrase</key>
				<string>October</string>
			</dict>
			<dict>
				<key>menu_id</key>
				<string>complete</string>
				<key>display_phrase</key>
				<string>November</string>
			</dict>
			<dict>
				<key>menu_id</key>
				<string>complete</string>
				<key>display_phrase</key>
				<string>December</string>
			</dict>
		</array>
	</dict>
	<key>other_menu</key>
	<dict>
		<key>type</key>
		<string>replace</string>
		<key>menu_id</key>
		<string>other_menu</string>
		<key>display_phrase</key>
		<string>other</string>
		<key>menu_options</key>
		<array>
			<dict>
				<key>menu_id</key>
				<string></string>
				<key>display_phrase</key>
				<string>other</string>
			</dict>
			<dict>
				<key>menu_id</key>
				<string></string>
				<key>display_phrase</key>
				<string>other two</string>
			</dict>
			<dict>
				<key>menu_id</key>
				<string></string>
				<key>display_phrase</key>
				<string>other three</string>
			</dict>
			<dict>
				<key>menu_id</key>
				<string></string>
				<key>display_phrase</key>
				<string>other four</string>
			</dict>
		</array>
	</dict>
	<key>of_months_menu</key>
	<dict>
		<key>type</key>
		<string>concatenate</string>
		<key>menu_id</key>
		<string>of_months_menu</string>
		<key>display_phrase</key>
		<string>of</string>
		<key>menu_options</key>
		<array>
			<dict>
				<key>menu_id</key>
				<string>every_month_menu</string>
				<key>display_phrase</key>
				<string>every</string>
			</dict>
			<dict>
				<key>menu_id</key>
				<string>month_menu</string>
				<key>display_phrase</key>
				<string>February</string>
			</dict>
		</array>
	</dict>
	<key>week_days_menu</key>
	<dict>
		<key>type</key>
		<string>replace</string>
		<key>menu_id</key>
		<string>week_days_menu</string>
		<key>display_phrase</key>
		<string>monday</string>
		<key>menu_options</key>
		<array>
			<dict>
				<key>menu_id</key>
				<string>of_months_menu</string>
				<key>display_phrase</key>
				<string>sunday</string>
			</dict>
			<dict>
				<key>menu_id</key>
				<string>of_months_menu</string>
				<key>display_phrase</key>
				<string>saturday</string>
			</dict>
			<dict>
				<key>menu_id</key>
				<string>of_months_menu</string>
				<key>display_phrase</key>
				<string>friday</string>
			</dict>
			<dict>
				<key>menu_id</key>
				<string>of_months_menu</string>
				<key>display_phrase</key>
				<string>thursday</string>
			</dict>
			<dict>
				<key>menu_id</key>
				<string>of_months_menu</string>
				<key>display_phrase</key>
				<string>wednesday</string>
			</dict>
			<dict>
				<key>menu_id</key>
				<string>of_months_menu</string>
				<key>display_phrase</key>
				<string>tuesday</string>
			</dict>
			<dict>
				<key>menu_id</key>
				<string>of_months_menu</string>
				<key>display_phrase</key>
				<string>monday</string>
			</dict>
		</array>
	</dict>
	<key>month_days_menu</key>
	<dict>
		<key>type</key>
		<string>replace</string>
		<key>menu_id</key>
		<string>month_days_menu</string>
		<key>display_phrase</key>
		<string>monday</string>
		<key>menu_options</key>
		<array>
			<dict>
				<key>menu_id</key>
				<string>of_months_menu</string>
				<key>display_phrase</key>
				<string>31st</string>
			</dict>
			<dict>
				<key>menu_id</key>
				<string>of_months_menu</string>
				<key>display_phrase</key>
				<string>25th</string>
			</dict>
			<dict>
				<key>menu_id</key>
				<string>of_months_menu</string>
				<key>display_phrase</key>
				<string>23rd</string>
			</dict>
			<dict>
				<key>menu_id</key>
				<string>of_months_menu</string>
				<key>display_phrase</key>
				<string>sunday</string>
			</dict>
			<dict>
				<key>menu_id</key>
				<string>of_months_menu</string>
				<key>display_phrase</key>
				<string>15th</string>
			</dict>
			<dict>
				<key>menu_id</key>
				<string>of_months_menu</string>
				<key>display_phrase</key>
				<string>12th</string>
			</dict>
			<dict>
				<key>menu_id</key>
				<string>of_months_menu</string>
				<key>display_phrase</key>
				<string>3rd</string>
			</dict>
			<dict>
				<key>menu_id</key>
				<string>of_months_menu</string>
				<key>display_phrase</key>
				<string>2nd</string>
			</dict>
			<dict>
				<key>menu_id</key>
				<string>of_months_menu</string>
				<key>display_phrase</key>
				<string>1st</string>
			</dict>
		</array>
	</dict>
	<key>first_menu</key>
	<dict>
		<key>type</key>
		<string>replace</string>
		<key>menu_id</key>
		<string>first_menu</string>
		<key>display_phrase</key>
		<string>first</string>
		<key>menu_options</key>
		<array>
			<dict>
				<key>menu_id</key>
				<string>days_menu</string>
				<key>display_phrase</key>
				<string>last</string>
			</dict>
			<dict>
				<key>menu_id</key>
				<string>days_menu</string>
				<key>display_phrase</key>
				<string>fourth</string>
			</dict>
			<dict>
				<key>menu_id</key>
				<string>days_menu</string>
				<key>display_phrase</key>
				<string>third</string>
			</dict>
			<dict>
				<key>menu_id</key>
				<string>days_menu</string>
				<key>display_phrase</key>
				<string>second</string>
			</dict>
			<dict>
				<key>menu_id</key>
				<string>days_menu</string>
				<key>display_phrase</key>
				<string>first</string>
			</dict>
		</array>
	</dict>
	<key>every_day_menu</key>
	<dict>
		<key>type</key>
		<string>concatenate</string>
		<key>menu_id</key>
		<string>every_day_menu</string>
		<key>display_phrase</key>
		<string>every</string>
		<key>menu_options</key>
		<array>
			<dict>
				<key>menu_id</key>
				<string>other_menu</string>
				<key>display_phrase</key>
				<string>other</string>
			</dict>
			<dict>
				<key>menu_id</key>
				<string>first_menu</string>
				<key>display_phrase</key>
				<string>first</string>
			</dict>
			<dict>
				<key>menu_id</key>
				<string>week_days_menu</string>
				<key>display_phrase</key>
				<string>monday</string>
			</dict>
			<dict>
				<key>menu_id</key>
				<string>month_days_menu</string>
				<key>display_phrase</key>
				<string>23rd</string>
			</dict>
		</array>
	</dict>
	<key>of_menu</key>
	<dict>
		<key>type</key>
		<string>concatenate</string>
		<key>menu_id</key>
		<string>of_menu</string>
		<key>display_phrase</key>
		<string>of</string>
		<key>menu_options</key>
		<array>
			<dict>
				<key>menu_id</key>
				<string>every_day_menu</string>
				<key>display_phrase</key>
				<string>every</string>
			</dict>
			<dict>
				<key>menu_id</key>
				<string>the_day_menu</string>
				<key>display_phrase</key>
				<string>the</string>
			</dict>
		</array>
	</dict>
	<key>base</key>
	<dict>
		<key>type</key>
		<string>concatenate</string>
		<key>menu_id</key>
		<string>menu0</string>
		<key>display_phrase</key>
		<string>during</string>
		<key>menu_options</key>
		<array>
			<dict>
				<key>menu_id</key>
				<string>of_menu</string>
				<key>display_phrase</key>
				<string>the afternoon</string>
			</dict>
			<dict>
				<key>menu_id</key>
				<string>of_menu</string>
				<key>display_phrase</key>
				<string>the morning</string>
			</dict>
			<dict>
				<key>menu_id</key>
				<string>of_menu</string>
				<key>display_phrase</key>
				<string>the end</string>
			</dict>
			<dict>
				<key>menu_id</key>
				<string>of_menu</string>
				<key>display_phrase</key>
				<string>the beginning</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
